@import "tailwindcss";

:root {
  background-color: #eee5dc;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  @apply px-4 mx-auto max-w-full;
}

/* Стили для карусели */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

@media (max-width: 2000px) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }

  .mobile-show {
    display: none;
  }

  h2 > .desktop-show {
    display: inline;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 18px;
  }

  .mobile-show {
    display: none;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  h2 {
    font-size: 32px !important;
    line-height: 1.2 !important;
  }

  .text-22px {
    font-size: 16px;
    line-height: 1.5;
  }

  .mobile-show {
    display: none;
  }
}

@media (max-width: 640px) {
  h2 {
    font-size: 32px;
  }

  button {
    font-size: 15.92px !important;
  }

  :root {
    font-size: 18px;
  }

  nav {
    display: none;
  }

  .header-content {
    width: 26rem;
  }

  .navbar-toggler {
    visibility: visible;
  }

  .open-nav {
    text-align: center;
  }

  .main-page {
    padding-top: 7.2rem;
    margin-bottom: 3.3rem;
    background-image: linear-gradient(#eee5dc 10%, transparent),
      url("../../public/main0.jpg");
    background-size: cover;
    height: 45rem;
    border-radius: 0;
  }

  .header-content_last {
    display: none;
  }

  .main-buttons {
    margin-top: 22.5rem;
  }

  .main-button1 {
    width: 12.5rem;
  }

  .main-button2 {
    width: 14.3rem;
  }

  .main-img {
    display: none;
  }

  .studio-content {
    text-align: left;
  }

  .studio-content > p {
    font-size: 1rem;
    margin-top: 1.4rem;
  }

  .desktop-show {
    display: none;
  }

  .mobile-show {
    display: inline;
  }

  .intro .intro-images {
    display: none;
  }

  .flex-col-mobile {
    flex-direction: column;
  }

  .w-full-mobile {
    width: 100% !important;
  }

  .carousel-item {
    width: 85vw !important;
    min-width: 300px;
    margin-right: 12px;
  }

  .text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90vw;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
