@import "tailwindcss";

:root {
  background-color: #eee5dc;
  font-size: 14px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* Стили для карусели */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

/* .container {
  max-width: 1200px;
} */

/* a {
  color: inherit;
  text-decoration: none;
}

.btn-colored {
  background-color: #859974;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #eee5dc;
}

.btn-outline {
  background-color: #11ffee00;
  border: 0.822378px solid #494542;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #494542;
}

.nav-bar {
  border: #494542 solid 2px;
  position: absolute;
  width: 1200px;
  height: 83px;
  left: 0px;
  top: 0px;
  background: #eee5dc;
}

.nav-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  float: left;
  display: flexbox;
}

.menu {
  display: flex;
  margin: auto;
  width: 50%;
  height: 25%;
  border: #494542 solid;
}

.nav-list a {
  /* float: right; */
/* display: flexbox;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */
/* vertical-align: middle; */
/* }

.arrow {
  box-sizing: border-box;

  position: absolute;
  width: 22.01px;
  height: 0px;
  left: 198px;
  top: 270.27px;
  border: 0.82342px solid #eee5dc;
} */

/* @font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
    format("truetype");
  font-style: normal;
  font-weight: normal;
} */
